#squad.f442 #p1 {
    left: 308px;
    top: 55px;
}
#squad.f442 #p2 {
    left: 90px;
    top: 175px;
}
#squad.f442 #p3 {
    left: 235px;
    top: 175px;
}
#squad.f442 #p4 {
    left: 380px;
    top: 175px;
}
#squad.f442 #p5 {
    left: 525px;
    top: 175px;
}
#squad.f442 #p6 {
    left: 90px;
    top: 295px;
}
#squad.f442 #p7 {
    left: 235px;
    top: 295px;
}
#squad.f442 #p8 {
    left: 380px;
    top: 295px;
}
#squad.f442 #p9 {
    left: 525px;
    top: 295px;
}
#squad.f442 #p10 {
    left: 235px;
    top: 415px;
}
#squad.f442 #p11 {
    left: 380px;
    top: 415px;
}
