body {
    background-color: #f1f2f3;
}

#header-nav {
    margin-bottom: 0;
    background-color: #1ca049;
    border-color: transparent;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    border-radius: 0px;
}

#header-nav-logo {
    background-image: url(../images/logo.png);
    display: block;
    width: 196px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

#header-nav p.navbar-text {
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px;
}

#tabs-container li>a,
#tabs-container li>a:focus,
#tabs-container li>a:hover {
    color: #cdcecf;
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

#tabs-container li.active>a,
#tabs-container li.active>a:focus,
#tabs-container li.active>a:hover {
    color: #303030;
    background-color: #ffffff;
    border-bottom: 2px solid #1ca049;
}

#saveButton {
    margin-top: 25px;
    width: 100%;
}

/*======== less than 768 ========*/
#tabs-container {
    background-color: transparent;
    margin-bottom: 0;
}

#header-tabs > li {
    width: 50%;
    float: left;
}

#create-team > .col-sm-12 {
    padding: 0;
}

#canvas > div.col-sm-12 {
    padding: 0;
}

#pitch {
    background-image: url(../images/pitch.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 303px;
}

#squad {
    position: absolute;
    width: 100%;
}

#squad .player {
    position: absolute;
}

#squad .player .kit {
    min-width: 60px;
    min-height: 40px;
}

#squad .player.filled .kit,
#squad #p1.player.filled .kit {
    width: 60px;
    height: 40px;
    background-size: contain;
    background-position-x: 65%;
}

#squad .player.filled .kit{
    background: url(../images/player-kit.png) no-repeat 50%;
}

#squad #p1.player.filled .kit{
    background: url(../images/keeper-kit.png) no-repeat 50%;
}

#squad .player .plate {
background-color: #303030;
    width: 70px;
    height: 35px;
}

#squad .player.filled .plate {
    height: auto;
    background-color: transparent;
}

#squad .player .plate.empty .name {
    background: url(../images/plus-icon.png) no-repeat 50% 50%;
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 auto;
    padding-top: 40%;
    background-size: contain;
}

#squad .player .plate .name {
    color: #ffffff;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    height: auto;
    line-height: normal;
    font-size: 10px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
320,360,384,480,800
@media (min-width: 480) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 800px) {
    .fixed-container {
        max-width: 760px;
        margin: 0 auto;
    }

    #tabs-container {
        background-color: #ffffff;
        margin-bottom: 1.5em;
        margin-top: 2px;
    }

    #header-tabs > li {
        width: 1%;
        float: none;
    }

    #canvas > div.col-sm-12 {
        padding: 0 15px;
    }

    #pitch {
        background-size: contain;
        height: 573px;
    }

    #squad .player .kit {
        min-width: 105px;
        min-height: 57px;
    }

    #squad #p1.player.filled .kit{
        height: 64px
    }

    #squad .player.filled .kit{
        width: 105px;
        height: 57px
    }

    #squad .player .plate {
        width: 105px;
        height: 40px;
    }

    #squad .player .plate.empty .name {
        width: 25px;
        height: 25px;
    }

    #squad .player .plate .name {
        width: 95px;
        font-size: inherit;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
