<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"> Partagez Votre Équipe</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-sm-8">
                  <div id="thumbnail"></div>
              </div>
              <div id="share" class="col-sm-4">
                  <p style="text-align: center;"">
                      Partagez votre équipe avec vos amis sur Facebook
                  </p>
                  <p style="text-align: center;"">
                      <span class="glyphicon glyphicon-arrow-down"></span>
                  </p>
                  <p style="text-align: center;">
                    <iframe
                        src="https://www.facebook.com/plugins/share_button.php?href=<%= imageUrl %>&layout=button&size=large&mobile_iframe=true&appId=714044432027505&width=73&height=28"
                        width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
                    </iframe>
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
