<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Votre Équipe a été Créé Avec Succès</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-xs-12">
                  <div class="alert alert-warning alert-dismissible" role="alert" style="display:none;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <strong>Désolé</strong> incapable de partager sur facebook ce moment.
                  </div>
                  <div id="thumbnail">
                      <img src="/public/teams/<%= team.image_medium %>" alt="" />
                  </div>
              </div>
              <div id="share" class="col-xs-12">
                    <div id="menu" class="well">
                      <p class="lead">Vous pouvez maintenant la partager avec vos amis sur Facebook</p>
                      <p><span class="glyphicon glyphicon-arrow-down"></span></p>
                      <p>
                          <button id="confirm-share" type="button" class="btn btn-success" data-team="<%= team %>">
                              Partagez
                          </button>
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
