<div class="row">
<% _.each(squads, function(squad){ %>
    <div class="col-xs-6 col-sm-4">
        <div class="thumbnail" data-squad="<%= squad.id %>">
            <picture>
                <source
                    media="(max-width: 360px)"
                    srcset="<%= window.location.href %>public/teams/<%= squad.image_small %>">
                <img
                    src="<%= window.location.href %>public/teams/<%= squad.image_medium %>"
                    alt="<%= squad.name %>">
            </picture>
            <div class="caption">
                <h3><%= squad.name %></h3>
            </div>
        </div>
    </div>
<% }); %>

</div>
